:root {
  --max-width: 1000px;
  --color-bg: #0A0908;
  --color-text: #FFFFFF;
  --color-primary: #f1ca9d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0rem 2rem;
}

.header {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header h1 {
  font-size: 3rem;
}

#name {
  color: var(--color-primary);
}

.subtext {
  font-size: 1.5rem;
  font-weight: 300;
  color:#dfdfdf;
}

.contact-links {
  display: flex;
  gap: 1rem;
  font-weight: 400;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
}

.github:hover {
  background-color: #1a1919;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.linkedin {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: #0A66C2;
}

.linkedin:hover {
  background-color: #0a5299;
}

.project-card {
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.technologies {
  display: flex;
  gap: 0.45rem;
}

.tech-tag {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.15rem 0.45rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.project-links {
  display: flex;
  gap: 0.2rem;
}

.project-link {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.2rem 0.6rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.project-link:hover {
  background-color: #1a1919;
  border: 1px solid rgba(255, 255, 255, 0.4);
}