:root {
  --max-width: 1000px;
  --color-bg: #0A0908;
  --color-text: #FFFFFF;
  --color-primary: #ddaa71;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0rem 2rem;
}

.header {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.header h1 {
  font-size: 3rem;
}

#name {
  color: var(--color-primary);
}

.subtext {
  font-size: 1.5rem;
  font-weight: 300;
  color:#dfdfdf;
}

.subtext p {
  max-width: 50ch;
}

.contact-links {
  display: flex;
  gap: 1rem;
  font-weight: 400;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
}

.github:hover {
  background-color: #1a1919;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.linkedin {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: #0A66C2;
}

.linkedin:hover {
  background-color: #0a5299;
}

.projects h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.project-card {
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.45rem;
}

.technologies {
  display: flex;
  gap: 0.45rem;
  flex-wrap: wrap;
}

.tech-tag {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 0.15rem 0.45rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.project-links {
  display: flex;
  gap: 0.2rem;
}

.project-link {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.2rem 0.6rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.project-link:hover {
  background-color: #1a1919;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.footer {
  margin-top: 6rem;
  padding: 2.5rem 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: #dfdfdf;
}