:root {
  --max-width: 1050px;
  --color-bg: #0A0908;
  --color-text: #FFFFFF;
  --color-primary: #f1ca9d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
}

.header {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

#name {
  color: var(--color-primary);
}

.subtext {
  font-size: 1.5rem;
  font-weight: 300;
  color:#dfdfdf;
}